.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #666;
}

.search {
  position: relative;
}

.btn {
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: #55659a;
  outline: none;
  border: none;
  border-radius: 100%;
  padding: 12px;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.6;
}

.input {
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
  font-size: 14px;
  padding: 24px 58px 24px 30px;
  border-radius: 60px;
  width: 400px;
  border: none;
  color: rgba(255, 255, 255, 0.295);
}
